.album__cover {
  border-radius: 25px;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 70px;
  top: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 100px rgba(0 0 0 1), -5px -5px 100px rgba(0 0 0 1);
}

.album__info {
  width: 250px;
  height: 100px;
  position: absolute;
  top: 390px;
  left: 70px;
  text-align: center;
}

.album__info__title {
  font-size: 45px;
  color: var(--text-main);
  margin-bottom: 10px;
}

.album__info__singer {
  font-size: 20px;
  color: var(--text-sub);
}
